.chat {
    display: flex;
    flex-direction: column;
    height: 99vh;
    width: 100%;
    color: antiquewhite;
    border: solid;
    border-radius: 6px;
    border-width: 5px;
    border-color: rgb(32, 14, 14);
}

@media (min-width: 768px) {
    .chat {
        width: 50%;
        overflow: hidden;
    }
}

.bar {
    position: relative;
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.bar button {
    position: absolute;
    left: 0;
    margin-left: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}
.bar img {
    width: 2rem;
}


.messages {
  flex: 1;
  overflow-y: auto;
}

.inputBar {
    display: flex;
    
    text-align: center;
    padding: 0.75rem 1rem;
    background-color: #333;
}

.input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    margin-right: 5px;
}

.button {
    width: 10rem;
    padding: 0.5rem;
    border-radius: 6px;
}

.message {
    border: solid;
    border-width: 3px;
    width: fit-content;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 6px;
}

