.chatlist {
    display: flex;
    flex-direction: column;
    height: 99vh;
    height: 99dvh;
    width: 100%;
    color: antiquewhite;
    border: solid;
    border-radius: 6px;
    border-width: 5px;
    border-color: rgb(32, 14, 14);
}

@media (min-width: 768px) {
    .chatlist {
        width: 50%;
        overflow: hidden;
    }
}


.bar {
    position: relative;
    background-color: #333;
    color: white;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.addChatButton {
    position: absolute;
    top: 50%;
    right: 90px;
    width: 3.5rem;
    height: 3.5rem;
    transform: translateY(-50%);
    color: #3bf6c7;

    border: 2px solid #3bf6c7;;
    background-color: #29a183;;
    border-radius: 8px;
}

.addChatButton:hover {
    background-color: #17301d;
    box-shadow: 0 0 10px rgba(96, 165, 250, 0.4);
}

.createChatButton {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 3.5rem;
    height: 3.5rem;
    transform: translateY(-50%);
    color: #4bf63b;

    border: 2px solid #4bf63b;
    background-color: #1e3b25;
    border-radius: 8px;
}

.createChatButton:hover {
    background-color: #17301d;
    box-shadow: 0 0 10px rgba(96, 165, 250, 0.4);
}

.chatlistbody {
    overflow-y: auto;
    scrollbar-width: none;
}

.chatpreview {
    border: 2px solid #3b82f6;
    padding: 12px;
    background-color: #1e293b;
    color: #e2e8f0;
    border-radius: 8px;
    margin-bottom: 25px;
}

.chatpreview:hover {
    background-color: #1b2433;
    box-shadow: 0 0 10px rgba(96, 165, 250, 0.4);
}

.pageError {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;

    font-size: 25px;
}

.pageError button {
    border-radius: 30px;
    width: 8rem;
    height: 2rem;
}