.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(35%);
}


.modalcontent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #333131;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 10px;
    padding: 15px;
}

.modalcontent input {
    width: 18rem;
    height: 1.5rem;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 16px;
}

.buttonRow {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0.3rem;
    font-weight: bold;
    padding: 5px;
}

.buttonRow button:first-child {
    border-color: #df4242;
    color: #df4242;
    border-radius: 5px;
    height: 2rem;
    width: 4rem;
    border-style: solid;
}

.buttonRow button:nth-child(2) {
    border: none;
    background-color: #2D8CFF;
    color: white;
    border-radius: 5px;
    height: 2rem;
    width: 4.5rem;
}

.error {
    color: red;
}


/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}