.message {
    margin-top: 0.5rem;
}


.ownmessage {
    margin-top: 0.5rem;
    margin-right: 0;
    margin-left: auto;
    width: fit-content;
}

.messagecontent {
    padding: 0.5rem;
    color:rgb(255, 255, 255);
    background-color: rgb(23, 184, 50);
    border: solid rgb(23, 184, 50);
    border-width: 3px;
    width: fit-content;
    border-radius: 6px;
    font-size: 1.2rem;
}

.ownmessagecontent {
    padding: 0.5rem;
    color:rgb(255, 255, 255);
    background-color: rgb(19, 138, 218);
    border: solid rgb(19, 138, 218);
    border-width: 3px;
    border-radius: 6px;
    font-size: 1.2rem
}

.time {
    margin-top: 0.1rem;
    text-align: left;
    font-size: 0.60rem;
}


.timeown {
    margin-top: 0.1rem;
    text-align: right;
    font-size: 0.60rem;
}

